.container-sign-in{
   display: flex;
   justify-content: center;
   flex-direction: column;

   // border-color: black;
   text-align: center;
   flex-wrap: wrap;

   align-items: center;
   // position: absolute;

   margin: 20px;
   margin-top: 50px;
   padding: 50px;


   background-color: rgb(205, 205, 205);
   background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1.jpg);

   // p {
   //    color: rgb(245, 245, 245);
   //    text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.8);
   // }

}
