<h1>Do you want to rent this pair of shoes? Please fill out the form</h1>
<%= simple_form_for [@shoe, @order] do |f|%>
  <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  <%= f.input :shoe_id, :as => :hidden, :input_html => {:value => @shoe.id}%>
  <%= f.submit %>
  <% end %>
