<div class="title">
   <h1 class="abril-fatface-regular">KickSell</h1>
</div>


<div class="container-story">
      <p>why we have shoes for rent</p>
      <p>we understand that sometimes you onle need a specific pair of shoes for
      special occasions once or twice a year, and you dont want to spend too much money on a new pair of shoes, so why not rent a pair for those one-off occasions
      </p>
</div>


<div class="card-container">
   <div class="card" style="width: 18rem;">
   <img src="https://www.davidjones.com/productimages/thumb/2/2461662_21931926_8119921.jpg" class="card-img-top" alt="...">
   <div class="card-body">
      <%= link_to "Luxury shoes", luxury_shoes_path %>
   </div>
   </div>

   <div class="card" style="width: 18rem;">
   <img src="https://www.davidjones.com/productimages/thumb/2/2611124_22577577_13624113.jpg" class="card-img-top" alt="...">
   <div class="card-body">
      <%= link_to "Casual shoes", casual_shoes_path %>
   </div>
   </div>

   <div class="card" style="width: 18rem;">
   <img src="https://www.davidjones.com/productimages/thumb/2/2630806_22666667_13602217.jpg" class="card-img-top" alt="...">
   <div class="card-body">
      <%= link_to "Formal shoes", formal_shoes_path %>
   </div>
   </div>

    <div class="card" style="width: 18rem;">
   <img src="https://www.davidjones.com/productimages/thumb/2/2675353_22877600_14127141.jpg" alt="...">
   <div class="card-body">
      <%= link_to "View all available shoes", shoes_path, class:"card-text" %>
   </div>
   </div>
</div>
