body {
  min-height: 100vh;
}
.footer{
  position: sticky;
  bottom: 0;
  text-align: center;
  flex-wrap: wrap;

  padding-top: 40px;

  // margin: 20px;
  justify-content: center;
  display: flex;
  background-color: rgb(205, 205, 205);
  background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1.jpg);
}
