.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);

   background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1.jpg);;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
