<h1>Welcome to our shoes marketplace, pick your favourite one here</h1>

<ul>
  <% @shoes.each do |shoe| %>
  <li>
    <%= link_to shoe.name, shoe_path(shoe) %>
  </li>
  <% end %>
</ul>

<%= link_to "Do you have shoes for rent? Click here to create your post!", new_shoe_path %>
